@{
    ViewData["Title"] = "News";
}
<style>
    .body-container {
        /*remove the container default padding attribute*/
        padding-left: 0px !important;
        padding-right: 0px !important;
        /*increase width as per your need*/
        max-width: 100%;
    }
</style>
        
        <!--================Hero Breadcrumb Area =================-->
        <section class="breadcrumb_area" style="background: url(../img/brand/comming_soon_bg.jpg) no-repeat scroll center 0/cover; padding:200px 0px 75px";>
            <div class="container">
                <div class="banner_content">
                    <h2 class="br_title">Contact Us</h2>
                    <ul class="bread_cumb list_style">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================Hero banner Area =================-->
        
        <!--================Hero Contact Area =================-->
        <section class="contact_area">
            <div class="container">

                <div class="row">
            <div class="col-6">
                <div class="blog-post-wrapper">
                    <div class="blog-post-item">

                        <div class="blog-post-body">
                <h4 class="mb-4 blog__title" id="theme-integration" >Other Currency News</h4>
                <a class="fx-widget" data-widget="newsfeed" data-lang="en" data-post-date-color="#999" data-post-description-color="#333333" data-post-title-color="#333333" data-widget-bg-color="#FFF" data-show-image data-width="650" data-height="855" data-show-date data-title-font-size="18" data-intro-font-size="16" data-category="news" data-section="currencies" data-base-url="https://www.fxempire.com" data-url="//www.fxempire.com" href="https://www.fxempire.com/" rel="nofollow" style="font-family:Helvetica;font-size:16px;line-height:1.5;text-decoration:none;"> <span style="color:#999999;display:inline-block;margin-top:10px;font-size:12px; opacity: 0;">Powered By </span> <img style="width:87px; height:14px; opacity: 0;" src="../www.fxempire.com/logo-full.svg" alt="FX Empire logo" /> </a> <script async charset="utf-8" src="../widgets.fxempire.com/widget.js" ></script> 

                        </div><!-- end blog-post-body -->
                    </div><!-- end blog-post-item -->
                </div><!-- end blog-post-wrapper -->
            </div><!-- end col-lg-8-->
            
            <div class="col-6">
                <div class="blog-post-wrapper">
                    <div class="blog-post-item">

                        <div class="blog-post-body">
                <h4 class="mb-4 blog__title" id="theme-integration" >Cryptocurrency News</h4>
                <a class="fx-widget" data-widget="newsfeed" data-lang="en" data-post-date-color="#999" data-post-description-color="#333333" data-post-title-color="#333333" data-widget-bg-color="#FFF" data-show-image data-width="650" data-height="855" data-show-date data-title-font-size="18" data-intro-font-size="16" data-category="forecasts" data-section="cryptocurrencies" data-base-url="https://www.fxempire.com" data-url="//www.fxempire.com" href="https://www.fxempire.com/" rel="nofollow" style="font-family:Helvetica;font-size:16px;line-height:1.5;text-decoration:none;"> <span style="color:#999999;display:inline-block;margin-top:10px;font-size:12px; opacity: 0;">Powered By </span> <img style="width:87px; height:14px; opacity: 0;" src="../www.fxempire.com/logo-full.svg" alt="FX Empire logo" /> </a> <script async charset="utf-8" src="../widgets.fxempire.com/widget.js" ></script> 
                        </div><!-- end blog-post-body -->
                    </div><!-- end blog-post-item -->
                </div><!-- end blog-post-wrapper -->
            </div><!-- end col-lg-8-->
            
        </div>
            </div>
        </section>
        <!--================Hero Contact Area =================-->