@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="wrapper" style="margin-top: 200px; margin-bottom:100px">
<h1>@ViewData["Title"]</h1>
<p>
    Click <a id="confirm-link" asp-area="Identity" asp-page="/Account/Login">Here</a> To Login and Begin Trading
</p>
</div>