@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="wrapper" style="margin-top: 200px; margin-bottom:100px">
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>
</div>