@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}



<div class="wrapper" style="margin-top: 200px; margin-bottom:100px">
    <h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Click <a id="confirm-link" href="@Model.EmailConfirmationUrl">here </a>to confirm your account
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>
